@import "tailwindcss";

@theme {
  --color-primary: #fed700;
  --color-secondary: #333e48;
}

@layer base {
  body {
    background-color: #f9fafb;
    color: #1f2937;
    font-family: sans-serif;
  }
}

@layer components {
  .container-custom {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .btn-primary {
    background-color: var(--color-primary);
    color: black;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
  .btn-primary:hover {
    background-color: #eab308;
  }
}
